#datetime-picker {
    width: 272px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    margin: 25px 8px 0 50px;
    outline: none;
}

button[data-start] {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: #4e75ff;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    width: 75px;
    height: 40px;
}

button[data-start]:disabled {
    background-color: #cfcfcf;
    color: #989898;
    cursor: not-allowed;
}

/* Контейнер таймера */
.timer {
    display: flex;
    gap: 24px;
    margin-top: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 50px;
    
}

/* Кожне поле (цифра + підпис) */
.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стиль самих цифр */
.value {
    font-size: 44px;
    /* Збільшено для відповідності макету */
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

/* Стиль підписів */
.label {
    font-size: 12px;
    text-transform: uppercase;
    color: #2e2f42;
    margin-top: 4px;
}