.feedback-form {
    width: 408px;
    padding: 24px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fff;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.feedback-form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
    align-items: flex-start;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.feedback-form input,
.feedback-form textarea {
    width: 360px;
    padding: 8px 16px;

    border: 1px solid #808080;
    border-radius: 4px;
    background-color: transparent;

    font: inherit;
    letter-spacing: 0.04em;
    color: #2e2f42;

    outline: none;
    transition: border-color 150ms ease;
}

.feedback-form input {
    height: 40px;
}

.feedback-form textarea {
    height: 80px;
    resize: none;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
    color: #808080;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
    border-color: #000000;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    border-color: #000000;
}

.feedback-form button {
    width: 95px;
    height: 40px;
    padding: 8px 16px;

    border: none;
    border-radius: 8px;

    background-color: #4e75ff;
    color: #ffffff;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition: background-color 150ms ease;
}

.feedback-form button:hover {
    background-color: #6c8cff;
}