.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    list-style: none;
    user-select: none;
    padding: 0;
    margin: 30px auto;
    max-width: 1128px;
}

.gallery-item {
    flex-basis: calc((100% - 24px) / 3);
    max-width: 360px;
}

.gallery-image {
    display: block;
    max-width: 360px;
    height: auto;
    object-fit: cover;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.035);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.main-title {
    font-style: italic;
    font-size: 30px;
}